@viewport {
    width: 980px;
    min-zoom: 1.5;
    max-zoom: 1.5;
    /* orientation: landscape; */
}
html{
    background-color: black;
}
body{
    background-color: black;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: black !important;
    opacity:.7;
}

#myMenu{
    background-color: black!important;
}

#myChart{
    height:400px !important;
    width: 500px !important;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    
}

.aboutMe{

    height:400px !important;
    width: 600px !important;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:1%;
    text-align: center;


}
.profilePicWrapper{
    width: 600px;
}
.profilePicWrapper > img {
    max-width: 100%;
  }



.portfoliologo{
    display:block;
    margin:auto;
}

.logoWrap{
    background-color:#131862;
}

.secTwoWrap{
    height: 525px;
    width: 100%;
    background-color: #546bab

}

.secThreeWrap{
    height: 550px;
    width: 100%;
    background-color: #87889c;
    

}



.carousel.carousel-slider.center{
   
}


.secFourWrap{
    height:650px;
    width: 100%;
    background-color: #546bab
}

.secFiveWrap{
    height: 600px;
    width: 100%;
    background-color: #2e4482

}

.playlist{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 170px;
    bottom: 0;
    left: 0;
    right: 0;

}

.blog{
    height:300px;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 51%;
    right: 0;
    text-align:center
}
.blog > img {
    max-height: 100%;
  }

.timeline{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tl-slider-background{
    background-color: rgba(0, 0, 0, 0.116)!important;
}


#spheres{
    position:absolute;
    z-index: 0;
    background-color: black;
}
